:root {
    --background: #0058bc;
    --border: #444;
}

html, body {
    font-family: 'Open Sans', sans;
    margin: 0;
    background: white;
}

body {
    display: grid;
    min-height: 100vh;

    grid-template-rows: 75px auto 50px;
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;

    color: white;
    font-family: 'Caveat', cursive;
    background: var(--background);

    padding: 0 1em ;
}

header a {
    color: white;
}

.site-title {
    flex-grow: 1;
}

nav li {
    font-size: 16pt;
    list-style: none;
    margin: 0 10px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

footer {
    color: #444;
    border-top: solid 1px var(--border);
    text-align: center;
}

.menu {

}

.gallery {
    display: grid;
    grid-gap: 2px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 250px;
}

.gallery-image {
    width: 100%;
    height: 100%;
}

.gallery-image .thumbnail {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: filter 0.3s ease-in-out;
}

.gallery-image .detail {
    position: relative;
    bottom: calc(100% + 4px);
    width: 100%;
    height: 100%;
    opacity: 0%;
    transition: all 0.3s ease-in-out;
    color: white;
    background: black;
    background: linear-gradient(180deg, rgba(255,255,255,0) 25%,rgba(0,0,0,.5) 75%);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-weight: bold;
    overflow: hidden;
}

.gallery-image .detail * {
    margin: 0;
}

.gallery-image .detail > * {
    align-self: end;
    transform: translate(0, 50px);
    transition: all 0.3s ease-in-out;
}

.gallery-image:hover .detail > * {
    transform: translate(0, 0);
}

.gallery-image:hover .detail {
    opacity: 100%;
}

.avatar {
    border-radius: 50%;
    width: 25%;
}

/* -- Mobile -- */
@media (max-width: 510px) {
    .gallery {
      grid-template-columns: 50vw 50vw;
      grid-template-rows: 50vw;
      grid-auto-rows: 50vw;
    }
}