<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% block title %}<title>Arlunio</title>{% endblock %}

    <link rel="stylesheet" href="/css/main.css" />
    <link href="https://fonts.googleapis.com/css?family=Caveat|Open+Sans:300&display=swap" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/f1d1c3586c.js" crossorigin="anonymous"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML'
        async></script>

    {% block extrahead %}{% endblock %}
</head>

<body>
    <header class="two-col">
        <h1 class="site-title">
            <a href="/gallery/">Arlunio</a>
        </h1>
        <nav class="menu">
            <ul>
                <li><a href="/docs/">Docs</a></li>
                <li><a href="/gallery/">Gallery</a></li>
            </ul>
        </nav>
    </header>

    {% block content %}{% endblock %}
    <footer>
        <div class="footer-content">
            <div>
                <h4>Site</h4>
                <p>Last Updated: {{ date }}</p>
                <p>Arlunio: v{{ arlunio_version }}</p>
            </div>
            <div></div>
            <div>
                <h4>Credits</h4>
                <p>Color Scheme: <a href="https://github.com/arcticicestudio/nord">Nord</a></p>
            </div>
        </div>
    </footer>
</body>

</html>