{% macro icon(name) -%}
<svg width="24" height="24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
    <use xlink:href="/svg/feather-sprite.svg#{{ name }}" />
</svg>
{%- endmacro %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% block title %}<title>Arlunio</title>{% endblock %}

    <link rel="stylesheet" href="/css/main.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap" rel="stylesheet" />
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>

    {% block extrahead %}{% endblock %}
</head>

<body>
    <header class="two-col">
        <a href="/gallery/">
            {% with width="120", height="50", color="white" %}
            {% include "arlunio.svg"  %}
            {% endwith %}
        </a>
        <nav class="menu">
            <ul>
                <li><a href="/docs/">Docs</a></li>
                <li><a href="/gallery/">Gallery</a></li>
            </ul>
        </nav>
    </header>

    {% block content %}{% endblock %}
    <footer>
        <div class="footer-content">
            <div>
                <h4>Site</h4>
                <p>Last Updated: {{ site.date }}</p>
                <p>Arlunio: v{{ site.arlunio_version }}</p>
            </div>
            <div></div>
            <div>
                <h4>Credits</h4>
                <p><a href="https://github.com/arcticicestudio/nord">Nord Color Scheme</a></p>
                <p><a href="https://github.com/feathericons/feather">Feather Icons</a></p>
            </div>
        </div>
    </footer>
</body>

</html>