<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scaleable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% block extrahead %}{% endblock %}

    {% block title %}<title>Arlunio</title>{% endblock %}

    <link rel="stylesheet" href="{{ baseurl }}css/main.css" />
    <link href="https://fonts.googleapis.com/css?family=Caveat|Open+Sans:300&display=swap" rel="stylesheet" />
</head>

<body>
    <header class="two-col">
        <h1 class="site-title">
            <a href="{{ baseurl }}gallery/">Arlunio</a>
        </h1>
        <nav class="menu">
            <ul>
                <li><a href="https://arlunio.readthedocs.io/en/latest/">Docs</a></li>
                <li><a href="{{ baseurl }}gallery/">Gallery</a></li>
            </ul>
        </nav>
        <div style="width: 150px;">
            <a href="https://github.com/swyddfa/arlunio">
                <img style="position: absolute; top: 0; right: 0; border: 0;"
                    src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"
                    alt="Fork me on GitHub">
            </a>
        </div>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>Last Built: {{ date }}</p>
    </footer>
</body>

</html>