{% extends "base.html" %}

{% block content %}
<div class="gallery">
    {% for image in images %}
    <div class="gallery-image">
        <a href="{{ image.slug }}.html">
            <img class="thumbnail" src="{{ image.thumburl }}" />
        </a>
        <div class="detail">
            <div>
                <h3>{{ image.title }}</h3>
                <h5>by {{image.author.name}}</h5>
            </div>
            <img class="avatar" src="https://github.com/{{ image.author.github }}.png" />
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

<!--

-->