{% extends "base.html" %}

{%- macro gridsize(dimensions) -%}
  {%- if dimensions.height < dimensions.width -%}
    gallery-image-wide
  {%- endif -%}
  {%- if dimensions.width < dimensions.height -%}
    gallery-image-tall
  {%- endif -%}
{%- endmacro -%}

{% block extrahead %}
<link rel="stylesheet" href="/css/gallery.css">
{% endblock %}

{% block title %}
<title>Arlunio Gallery</title>
{% endblock %}

{% block content %}
<div class="gallery">
    {% for image in images %}
    <div class="gallery-image {{ gridsize(image.dimensions) }}">
        <a href="{{ image.slug }}.html">
            <div class="gallery-image-thumb">
                <img class="thumbnail" loading="lazy" src="{{ image.thumburl }}" />
                <div class="gallery-image-meta">
                <div>
                    <h3>{{ image.title }}</h3>
                    <h5>{{image.author.name}}</h5>
                </div>
                <img class="avatar" loading="lazy" src="https://github.com/{{ image.author.github }}.png" />
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}
