{% extends "base.html" %}

{% block extrahead %}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{title}} by {{ author.name }} | Arlunio Gallery ">
<meta name="twitter:image" content="{{ baseurl }}gallery/{{ url }}">
<meta name="twitter:image:alt" content="{{title}}">
{% endblock %}

{% block title %}
<title>{{ title }} | Arlunio Gallery</title>
{% endblock %}

{% block content %}
<div class="image">
    <div class="image-display">
        <img src="{{ url }}" />
    </div>

    <div class="image-author">
        <img class="avatar" src="https://github.com/{{ author.github }}.png" />
        <div>
            <h1>{{ title }}</h1>
            <h3>{{ author.name }}</h3>
        </div>
    </div>

    <div class="image-definition">
        {% for cell in cells %}
        <div class="{{ cell.type }}">
            {{ cell.contents | safe }}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}