{% extends "base.html" %}

{% block extrahead %}
<link rel="stylesheet" href="/css/image.css">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{title}} by {{ author.name }} | Arlunio Gallery ">
<meta name="twitter:image" content="{{ baseurl }}gallery/{{ url }}">
<meta name="twitter:image:alt" content="{{title}}">
{% endblock %}

{% block title %}
<title>{{ title }} | Arlunio Gallery</title>
{% endblock %}

{% block content %}
<style>

</style>
<div class="image">
    <input type="checkbox" id="img-fullscreen" />
    <div class="image-display">
        <label for="img-fullscreen">
            <img src="{{ url }}" alt="{{ title }}"/>
        </label>
    </div>

    <div class="image-definition">
        <input type="checkbox" id="hide-notes" />
        <div class="image-meta">
            <div class="image-author">
                <img class="avatar" src="https://github.com/{{ author.github }}.png" />
                <div>
                    <h1>{{ title }}</h1>
                    <h3>{{ author.name }}</h3>
                </div>
            </div>
            <i class="far fa-calendar-alt"></i><span>{{ created }}</span>
            <i class="fas fa-history"></i><span>{{ revision }} revisions</span>
            <i class="far fa-file-code"></i><span>{{ sloc }} sloc</span>
            <i class="fas fa-terminal"></i><span>v{{ version }}</span>
        </div>
        <div class="image-meta">
            <label for="hide-notes">Notes</label>
        </div>

        <div style="margin-top: 10px">
            {% include "binder_badge.html" %}
        </div>

        {% for cell in cells %}
        <div class="{{ cell.type }}">
            {{ cell.contents | safe }}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
