.benchmarks
.cache
.coverage
.hypothesis
.idea
.ipynb_checkpoints/
.pytest_cache
.tox

__pycache__/

env/
dist/
docs/_build
htmlcov
arlunio/tutorial/

*.png
!docs/**/*.png
!img/*.png

.eggs/
*.egg-info/
build
*.pyc
pip-wheel-metadata
.dev
*.mo
*.xml
*.snap

node_modules
