.benchmarks
.cache
.coverage
.hypothesis
.ipynb_checkpoints/
.scratch
.pytest_cache
.mypy_cache
.tox

__pycache__/

.env/
dist/
docs/_build
htmlcov
arlunio/tutorial/

*.png
!docs/**/*.png
!img/*.png

.eggs/
*.egg-info/
build
*.pyc
pip-wheel-metadata
*.mo
*.xml
*.snap

node_modules
