language: python
cache: pip

stages:
    - linting
    - test
    - documentation
    - deploy

before_install:
    - "pip install poetry"

install:
    - poetry install

script:
    - poetry run pytest --cov=stylo -q

after_success:
    - if [ "$TRAVIS_PYTHON_VERSION" == "3.6" ]; then pip install coveralls; coveralls; fi

jobs:
    include:
        - python: 3.5
        - python: 3.6
        - python: 3.7
          dist: xenial

        - stage: linting
          python: 3.6

          install:
              - "pip install black flake8"
          script:
              - black --check stylo
              - black --check tests
              - flake8 stylo/
              - flake8 tests/

        - stage: documentation
          python: 3.6

          script:
              - poetry run sphinx-build -M linkcheck ./docs ./docs/_build -E -a -j auto
              - poetry run sphinx-build -M doctest ./docs ./docs/_build -E -a -j auto
              - poetry run sphinx-build -M html ./docs ./docs/_build -E -a -j auto

notifications:
    webhooks:
        urls:
        - https://webhooks.gitter.im/e/4bfa4fbff35ebee0a9d2
