[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

numpy = "*"
scipy = "*"
pillow = "*"
matplotlib = "*"


[dev-packages]

sphinx-rtd-theme = "*"
hypothesis = "*"
pytest = "*"
sphinx = "*"
sphinx-autobuild = "*"
"flake8" = "*"
black = "*"