[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pillow = "*"
matplotlib = "*"
hypothesis = {version = "*", extras = ["extra"]}
pytest = "*"
pytest-benchmark = "*"

[dev-packages]
tox = "*"
pre-commit = "*"
jupyter = "*"
black = "*"

[scripts]
test = "tox -q -e py36,py37 -- -n auto"
lint = "tox -q -e lint"
docs = "tox -q -e docs-build"
docs_fast = "tox -q -e docs-check"
