@import 'variables.css';

* {
  box-sizing: border-box;
}

html, body {
  font-family: 'Open Sans', sans;
  font-size: 12pt;
  margin: 0;
  background: var(--background);
}

a {
  color: var(--nord10);
}

a:hover,
a:visited {
  color: var(--nord9);
}

li, p {
  font-weight: 600;
}

h1,h2,h3,h4,h5 {
  margin: 0
}

h1 {font-size: 2rem}
h2 {font-size: 1.75rem}
h3 {font-size: 1.5rem}
h4 {font-size: 1.25rem}
h5 {font-size: 1rem}

header {
  position: sticky;
  top: 0;

  display: flex;
  justify-content: space-between;
  align-items: baseline;

  color: white;
  background: var(--primary);
  border-bottom: solid 1px var(--foreground);

  padding: 0 1em ;
  z-index: 1;
}

header a {
  margin-top: 0.5rem;
}

header a,
header a:visited {
  color: white;
  text-decoration: none;
}

.site-title {
  flex-grow: 1;
  margin: .25em 0;
}

.site-title a {
  text-decoration: none;
}

nav li {
  font-size: 1.25rem;
  font-weight: 600;
  list-style: none;
  margin: 0 10px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

nav a::after {
  background: white;
  content: '';
  display: block;
  height: 3px;
  width: 0;
  transition: all 0.3s ease-out;
}

nav a:hover::after {
  width: 100%;
}

footer {
  color: var(--foreground);
  background: var(--background);
  border-top: solid 1px var(--foreground);
}

.footer-content {
  margin: 1rem;
  display: grid;
  grid-template-columns: auto auto auto;
}


footer a {
  text-decoration: none;;
}

footer p {
  margin: 0;
  font-size: 10pt;
}