name: Release Python
on:
  push:
    branches:
    - develop
    - master
jobs:
  Release:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
   
    - name: Setup Python 3.7
      uses: actions/setup-python@v1
      with:
        python-version: 3.7
        
    - name: Setup Environment
      run: |
        python --version
        python -m pip install --upgrade pip
        python -m pip install --upgrade tox
        
    - name: Get Version Number 
      uses: einaregilsson/build-number@v1 
      with:
        token: ${{secrets.github_token}} 
      if: github.ref == 'refs/heads/develop'
        
    - name: Set Version Number 
      shell: bash
      run : |
        sed -i 's/"\(.*\)"/"\1b'"${BUILD_NUMBER}"'"/' arlunio/_version.py
        cat arlunio/_version.py
      if: github.ref == 'refs/heads/develop' 
        
    - name: Build Package 
      run: |
        tox -e pkg 
        
    #- name: Publish package 
    #  run: |
    #    python -m pip install twine
    #    twine upload dist/* -u alcarney -p ${{ secrets.PYPI_PASS }}
